extends layout 

block content
    h1= title

    form(action="" method="POST")
        div.form-group
            label(for="username")= "Username"
            input#first_name.form-control(name="username" placeholder="username" type="text" required="true")
            label(for="password")= "Password"
            input#first_name.form-control(name="password" placeholder="password" type="password")
            button="Log In"